html,body
{
	background: #D3D3D3;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 18px;
	margin: 0px;
	padding: 4px;
}

.title
{
	font-size: 20px;
}

.header
{
	background: white;
	border: 2px solid black;
	-moz-border-radius: 5px;
	padding: 10px;

	margin-bottom: 10px;
}


.leftside
{
	float: left;
	width: 175px;

	background: white;
	border: 2px solid black;
	-moz-border-radius: 5px;
	padding: 5px;
}

.sidetitle
{
	font-size: 14px;
	font-weight: bold;
	background: url(line.png) repeat-x center white;
	padding: 3px 20px;
}

.side
{
	padding: 10px 15px;
}

.page
{
	margin-left:195px;

	background: white;
	border:2px solid black;
	-moz-border-radius: 5px;
	padding:5px;
}

.steckbrief
{
	border: none;
	width: 70%;
	margin: 20px auto 40px auto;
	padding: 0;
}

.steckbrieftab
{
	border: 1px solid black;
	-moz-border-radius: 5px;
	margin: 0 auto;
	padding: 0;
}

.commentswitch
{
	text-align: right;
	float: right;
	padding-right: 7px;
}

.comments
{
	display: none;
	margin: 3px;
	margin-top: 0;
	padding: 1px;
	border: 1px solid black;
	border-top: none;
}

.commentlist
{
	margin: 20px;
	padding: 1px;
	border: 1px solid black;
}

.commenttitle
{
	background: url(line.png) repeat-x center top white;
	padding: 0 2em;	
	font-weight: bold;
}

.commentbody
{
	margin: 0.5em;
}

.commentarea
{
	width: 99%;
	height: 7em;
	margin: 1px 0;
}

.photo
{

}

.label
{
	font-weight:bold;
}

.text
{
	
}

.speclink
{
	text-decoration: none;
}
.speclink:hover
{
	text-decoration: underline;
}

input, textarea, select
{
	background: #eeeeee;
	font-weight: normal; 
	border: 1px solid #cccccc;
	-moz-border-radius: 4px;
	padding-left: 2px;
	padding-right: 2px;
}
input:hover, textarea:hover, select:hover
{
	background: #f8f8f8;
}
input:focus, textarea:focus, select:focus
{
	background: white;
	border: 1px solid #6363a9;
}
